<footer class="site-footer">
  <p>© {% year %} Bürgerinitiative Zukunft Bernöwe</p>
  <div class="footer-contact">
    <span class="contact-item">
      <a href="#" onclick="return false;">
        <span data-email="bW9jLmxpYW1nQDEzbnNsZS5uYWl0c2lyaGM="></span>
      </a>
    </span>
    <span class="contact-item">
      <a href="#" onclick="return false;">
        <span data-phone="NzEyNzE3NTI1NjE5NCs="></span>
      </a>
    </span>
  </div>
</footer>