<footer class="site-footer">
  <p>© {% year %} Bürgerinitiative Zukunft Bernöwe - <a href="mailto:christian.elsner71@gmail.com">christian.elsner71@gmail.com</a> - <a href="tel:0049152/25717217">+49 (0) 152/25717217</a></p>
</footer>