<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <a href="/">
        <img src="/assets/logo.jpg" alt="Logo" class="logo" />
        </a>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Neuigkeiten</a>
          </li>
          <li>
            <a href="/termine/">Termine</a>
          </li>
          <li>
            <a href="/erfolge/">Erfolge</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>