<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <a href="/">
        {% logo "/assets/logo.png", "Logo" %}
        </a>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">
              <span class="nav-icon">🏠</span>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/#termine">
              <span class="nav-icon">📅</span>
              <span>Termine</span>
            </a>
          </li>
          <li>
            <a href="/#erfolge">
              <span class="nav-icon">🏆</span>
              <span>Erfolge</span>
            </a>
          </li>
          <li>
            <a href="/#presse">
              <span class="nav-icon">📰</span>
              <span>Neuigkeiten</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>